@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

/********************************
*****       Animations       ****
*********************************/

@keyframes loaderDisappear {
  0% {
    opacity: 0.8;
    z-index: 1;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes heartAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heartDisappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    width: 0;
  }

  100% {
    width: 3em;
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(1turn);
    opacity: 1;
  }
}

@keyframes elevate {
  0% {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.cards .delay1 {
  animation-delay: 0.1s;
}
.cards .delay2 {
  animation-delay: 0.2s;
}
.cards .delay3 {
  animation-delay: 0.3s;
}

.cards .delay4 {
  animation-delay: 0.4s;
}

.heart {
  & .fas {
    background: linear-gradient(to bottom, #9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &:hover {
    & .far {
      animation: heartDisappear 0.5s forwards;
    }

    & .fas {
      animation: heartAppear 0.5s forwards;
    }
  }
}

/********************************
*****        General         ****
*********************************/

:root {
  --Primary: #9356dc;
  --Secondary: #ff79da;
  --Tertiary: #99e2d0;
  --grey: #f2f2f2;
}

body {
  font-family: Roboto, "cursive";
  margin: 0;
}

.loader {
  background-color: #fff;
  opacity: 0.8;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 1;
  animation: loaderDisappear 3s forwards;
  &::after {
    content: "";
    height: 100px;
    width: 100px;
    border-top: 5px solid #9356dc;
    border-right: 5px solid transparent;
    border-radius: 50%;
    animation: spin 3s infinite ease-in-out;
  }
}

/********************************
*****         Index          ****
*********************************/

/************ Header ***********/

header {
  h1 {
    font-family: Shrikhand, "cursive";
    text-align: center;
  }
  h2 {
    font-family: Shrikhand, "cursive";
    text-align: center;
  }
}

/********* Localisation ********/

.position {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

/********* Exploration ********/

.exploration {
  text-align: center;
  background-color: #fafafa;
  padding: 1.5rem;

  &__title {
    margin: 0;
  }
  &__subtitle {
    padding: 15px;
  }

  &__button {
    background: linear-gradient(#ff79da, #9356dc);
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    margin: 5px;
    transition-duration: 0.25s;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    &:hover {
      opacity: 0.9;
      box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

/********* Fonctionnement ********/

.functioning {
  &__container {
    padding-left: 1em;
    padding-right: 1em;
  }

  &__list {
    padding-left: 0;
  }
  &__step {
    padding: 0.5em;
    margin: 10px;
    border: 0;
    border-radius: 25px;
    background-color: var(--grey);
    &:hover {
      background-color: rgba(147, 86, 220, 0.3);
      i {
        color: var(--Primary);
      }
    }
    & i {
      padding: 15px;
    }
    &::marker {
      content: "";
    }
    &:nth-child(1)::before {
      content: "1";
    }
    &:nth-child(2)::before {
      content: "2";
    }
    &:nth-child(3)::before {
      content: "3";
    }
    &::before {
      background: var(--Primary);
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-left: -1.2em;
    }
  }
}

/********* Restaurants ********/

.restaurants {
  &__container {
    background-color: var(--grey);
    padding-left: 20px;
    padding-right: 20px;

    & h2 {
      padding-top: 20px;
    }

    & a {
      color: black;
      text-decoration: none;
      width: 80%;
    }
    & article {
      background-color: white;
      border-radius: 20px;
      box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
      margin-bottom: 30px;
    }

    & img {
      height: 170px;
      width: 100%;
      border-radius: 20px 20px 0px 0px;
      object-fit: cover;
    }
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;

  & article {
    position: relative;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  }

  &__new {
    position: absolute;
    background: var(--Tertiary);
    color: #008766;
    padding: 0.5em;
    top: 1em;
    right: 1em;
  }

  &__description {
    display: flex;

    &__title {
      padding-left: 1em;

      & h3 {
        margin-top: 1em;
        margin-bottom: 0.5em;
      }

      & p {
        margin-top: 0.5em;
      }
    }
  }

  &__btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2em;
    width: auto;
  }
}

.fa-heart {
  font-size: 2em;
}

.heart {
  position: relative;
  cursor: pointer;
  .fas {
    position: absolute;
    opacity: 0;
  }
}

/********* Footer ********/

.footer {
  background-color: #353535;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  ul li a {
    text-decoration: none;
    color: white;
  }

  &__logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.2em;
  }

  & ul {
    margin-bottom: 0;
    padding-left: 0px;

    & li {
      list-style-type: none;
    }
  }

  &__link {
    line-height: 25px;
    & .fa-utensils {
      font-size: 15px;
    }

    & .fa-hands-helping {
      font-size: 13px;
    }
    & i {
      width: 25px;
    }
  }
}

/********************************
*****         Menus          ****
*********************************/

.container-menus main {
  border-radius: 35px;
  margin-top: -2em;
  background-color: #f6f6f6;
  position: relative;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  & a {
    position: absolute;
    left: 1em;
    color: black;
    text-decoration: none;
    &:visited {
      color: black;
      text-decoration: none;
    }
  }
}

.img-menu img {
  height: 15em;
  width: 100%;
  object-fit: cover;
}

.menus {
  &__main {
    max-width: 1280px;
    margin: auto;
  }
  &__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.submenu {
  background-color: white;
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  padding-left: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  animation: elevate 500ms forwards ease-in-out;
  opacity: 0;
  &__price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 1em;
    padding-right: 15px;
    font-weight: 700;
  }

  &__title {
    overflow: hidden;
    flex: 1;

    & h4 {
      margin-bottom: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    & p {
      margin-top: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__checkicon {
    background-color: var(--Tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    & i {
      opacity: 0;
    }
  }

  .fa-check-circle {
    color: white;
    font-size: 1.5em;
  }
}

.cards {
  & article:hover .submenu__checkicon {
    animation: slideIn 0.4s forwards ease-in-out;

    & i {
      animation: rotateIcon 0.4s forwards ease-in-out;
    }
  }

  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1.5rem;
    font-weight: 400;

    h3 {
      margin-bottom: 0.5rem;
      margin-top: 2rem;
    }
  }

  &__title::after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: var(--Tertiary);
    position: absolute;
  }
}

.order {
  &-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  &__button {
    cursor: pointer;
    background: linear-gradient(#ff79da, #9356dc);
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    margin: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    transition-duration: 0.25s;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    &:hover {
      opacity: 0.9;
      box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
/********************************
*****     Media Queries      ****
*********************************/

@media screen and (min-width: 1024px) {
  /************ Index ***********/
  .functioning {
    &__list {
      display: flex;
      flex-wrap: nowrap;
      margin: auto;
      justify-content: center;
    }
    &__step {
      width: 33%;
    }

    &__container {
      margin: auto;
      max-width: 1280px;
    }
  }

  .restaurants {
    &__container {
      max-width: 100%;
    }
    &__content {
      margin: auto;
      max-width: 1280px;
    }

    .restaurant {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      &__card {
        width: 49%;
      }
    }
  }

  .footer {
    &__container {
      max-width: 1280px;
      margin: auto;
    }
  }

  /************ Menus ***********/

  .card {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 1em;

    .cards {
      width: 33%;
      min-width: 33%;
      max-width: 33%;
    }
  }

  main .menus__container {
    max-width: 1280px;
    margin: auto;
    padding-right: 40px;
  }
}
