@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

@keyframes slideIn {
  0% {
    width: 0;
  }

  100% {
    width: 3em;
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(1turn);
    opacity: 1;
  }
}

body {
  font-family: Roboto, "cursive";
  margin: 0;
}
:root {
  --grey: #f2f2f2;
}

.restaurant main {
  border-radius: 20px;
  margin-top: -20px;
  background-color: #f6f6f6;
  position: relative;
}

/************ Header ***********/

header h1 {
  font-family: Shrikhand, "cursive";
  text-align: center;
  h2 {
    font-family: Shrikhand, "cursive";
    text-align: center;
  }
}

/********* Localisation ********/

.position {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

/********* Exploration ********/

.exploration {
  text-align: center;
  background-color: #fafafa;
  padding: 2rem;

  &__title {
    margin: 0;
  }
  &__subtitle {
    padding: 15px;
  }

  &__button {
    background: linear-gradient(#ff79da, #9356dc);
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 15px;
    margin: 5px;
  }
}

/********* Fonctionnement ********/

.functioning {
  &__container {
    padding-left: 1em;
    padding-right: 1em;
  }
  &__step {
    padding: 10px;
    margin: 10px;
    border: 0;
    border-radius: 25px;
    background-color: var(--grey);
    & i {
      padding: 15px;
    }
    &::marker {
      content: "";
    }
    &:nth-child(1)::before {
      content: "1";
    }
    &:nth-child(2)::before {
      content: "2";
    }
    &:nth-child(3)::before {
      content: "3";
    }
    &::before {
      background: #9356dc;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-left: -2em;
    }
  }
}

/********* Restaurants ********/

.restaurants {
  &__container {
    background-color: var(--grey);
    padding-left: 20px;
    padding-right: 20px;

    & h2 {
      padding-top: 20px;
    }

    & a {
      color: black;
      text-decoration: none;

      & article {
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
        margin-bottom: 30px;
      }

      & img {
        height: 170px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
      }
    }
  }
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 1em;

  & article {
    position: relative;
  }

  &__new {
    position: absolute;
    background: #99e2d0;
    color: #008766;
    padding: 0.5em;
    top: 1em;
    right: 1em;
  }

  &__description {
    display: flex;

    &__title {
      padding-left: 1em;

      & h3 {
        margin-top: 1em;
        margin-bottom: 0.5em;
      }

      & p {
        margin-top: 0.5em;
      }
    }
  }

  &__icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2em;
  }
}

.fa-heart {
  font-size: 2em;
}

/********* Footer ********/

.footer {
  background-color: #353535;
  color: white;
  padding-bottom: 25px;

  &__logo {
    font-family: Shrikhand, "cursive";
  }

  & ul {
    margin-bottom: 0;
    padding-left: 20px;

    & li {
      list-style-type: none;
    }
  }

  &__link {
    line-height: 25px;

    & i {
      width: 25px;
    }
  }
}

/********************************
*****         Menus          ****
*********************************/

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  & a {
    position: absolute;
    left: 1em;
  }
}

.menus {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.img-menu img {
  height: 15em;
  width: 100%;
  object-fit: cover;
}

.submenu {
  background-color: white;
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  padding-left: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);

  &__price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 1em;
    padding-right: 15px;
    font-weight: 700;
  }

  &__title {
    overflow: hidden;
    flex: 1;

    & h4 {
      margin-bottom: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    & p {
      margin-top: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__checkicon {
    background-color: #99e2d0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    & i {
      opacity: 0;
    }
  }
}

.cards {
  & article:hover .submenu__checkicon {
    animation: slideIn 0.4s forwards;

    & i {
      animation: rotateIcon 0.4s forwards;
    }
  }
}

.order-btn {
  display: flex;
  justify-content: center;
}

.order__button {
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  padding: 15px;
  margin: 5px;
  margin-bottom: 1em;
}
