@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

body {
  font-family: Roboto, "cursive";
  margin: 0;
}
:root {
  --grey: #f2f2f2;
}

/************ Header ***********/

header h1 {
  font-family: Shrikhand, "cursive";
  text-align: center;
}

header h2 {
  font-family: Shrikhand, "cursive";
  text-align: center;
}

/********* Localisation ********/

.position {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
}

.position #icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/********* Exploration ********/

.exploration {
  text-align: center;
  background-color: #fafafa;
  padding: 2rem;
}

.exploration__title {
  margin: 0;
}

.exploration__subtitle {
  padding: 15px;
}
.exploration__button {
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  padding: 15px;
  margin: 5px;
}

/********* Fonctionnement ********/

.container-functioning {
  padding-left: 1em;
  padding-right: 1em;
}

.functioning__step {
  padding: 10px;
  margin: 10px;
  border: 0;
  border-radius: 25px;
  background-color: var(--grey);
}

.functioning__step i {
  padding: 15px;
}

.functioning__step::marker {
  content: "";
}

.functioning__step:nth-child(1)::before {
  content: "1";
}

.functioning__step:nth-child(2)::before {
  content: "2";
}

.functioning__step:nth-child(3)::before {
  content: "3";
}

.functioning__step::before {
  background: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: -2em;
}

/********* Restaurants ********/

.container-restaurants {
  background-color: var(--grey);
  padding-left: 20px;
  padding-right: 20px;
}

.container-restaurants h2 {
  padding-top: 20px;
}

.container-restaurants a {
  color: black;
  text-decoration: none;
}

.container-restaurants a article {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
  margin-bottom: 30px;
}
.container-restaurants a img {
  height: 170px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.menus article {
  position: relative;
}

.menus .new {
  position: absolute;
  background: #99e2d0;
  color: #008766;
  padding: 0.5em;
  top: 1em;
  right: 1em;
}

.menu-description {
  display: flex;
}

.menus-icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2em;
}

.menu-description-title {
  padding-left: 1em;
}

.menu-description-title h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.menu-description-title p {
  margin-top: 0.5em;
}

.fa-heart {
  font-size: 2em;
}
/********* Footer ********/

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 25px;
}
.container-footer {
  padding-top: 20px;
}

footer .container-footer .footer__logo {
  font-family: shrikhand, "cursive";
  padding: 20px;
  padding-top: 2em;
}

footer ul {
  margin-bottom: 0;
  padding-left: 20px;
}

footer ul li {
  list-style-type: none;
}

.footer__link {
  line-height: 25px;
}

.footer__link i {
  width: 25px;
}

/***************** Menus *****************/

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__logo a {
  position: absolute;
  left: 1em;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-menu img {
  height: 15em;
  width: 100%;
  object-fit: cover;
}

.container-menus {
  padding-left: 20px;
  padding-right: 20px;
}

.submenu {
  background-color: white;
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  padding-left: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.submenu .price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 1em;
  padding-right: 15px;
  font-weight: 700;
}

.submenu .submenu-title {
  overflow: hidden;
  flex: 1;
}

.submenu .submenu-title h4 {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.submenu .submenu-title p {
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.submenu-check-icon {
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.submenu-check-icon i {
  opacity: 0;
}

.cards article:hover .submenu-check-icon {
  animation: slideIn 0.4s forwards;
}

.cards article:hover .submenu-check-icon i {
  animation: rotateIcon 0.4s forwards;
}

.order-btn {
  display: flex;
  justify-content: center;
}

.order__button {
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  padding: 15px;
  margin: 5px;
  margin-bottom: 1em;
}

.restaurant main {
  border-radius: 20px;
  margin-top: -20px;
  background-color: #f6f6f6;
  position: relative;
}

@keyframes slideIn {
  0% {
    width: 0;
  }

  100% {
    width: 3em;
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(1turn);
    opacity: 1;
  }
}
